<form action="/icecreams" method="POST">
    Flavor: <input type="text" name="flavor">
    Rating: <input type="number" name="rating">
    Toppings: <input type="text" name="toppings">
    <input type="submit" value="Create new">
</form>